<div ng-controller="formBuilderController as buildCtrl" class="general">
    <h1>
        <span>Build a New Form</span>
    </h1>
    <br>

    <!-- place to enter new field -->
    <form id="fieldsForm" name="addField" ng-submit="buildCtrl.addField()" role="form">
        <input type="text" ng-model="buildCtrl.name" ng-required="true" class="form-Input" name="name" placeholder="Enter input name">
        <input type="text" ng-model="buildCtrl.lable" ng-required="true" class="form-Input" name="lable" placeholder="Enter field lable">        Choose
        input type: <select ng-model="buildCtrl.type" ng-options="type for type in buildCtrl.types" ng-required="true" class="form-Input"
            name="type">Choose field type</select>
        <button type="submit">Add Field</button>
    </form>

    <!-- shows fields that created -->
    <b ng-hide="buildCtrl.index==0"> Your Form: </b>
    <div ng-model="buildCtrl.fields" ng-repeat="field in buildCtrl.fields">
        {{field.fieldName}}
        <input type="{{field.fieldType}}" ng-required="true" class="form-input" placeholder="{{field.fieldLabel}}">
        <br>
    </div>
    <br>
    <br>
    <!-- input for form name -->
    <input type="text" ng-model="buildCtrl.formName" class="form-Input" name="formName" placeholder="Enter form name">
    <br>
    <!-- create and save the form -->
    <button ng-disabled="buildCtrl.index==0" ng-click="buildCtrl.saveForm()"> Save Form </button>
</div>
<br>
<br>
</div>