/* general */
.general{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #e7e7e7;
}

h1{
    color: black; 
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #e7e7e7;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 50px;
    font-size: 140%;
    background-color: black;
}

a {
    cursor: pointer;
}

/* table */
table {
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid grey;
    min-width:150px;
}

/* button */
button{
    background-color: white;
    color: black;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 4px;
}

button:hover
{
    background-color: grey;
}

/* form */
.form-Input{
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 180px;   
}