<div ng-controller="submitFormController as subCtrl" class="general">
    <h1>
        <span>Submit Form</span>
    </h1>
    <br>
    <form id="form" name="form" ng-submit="subCtrl.saveInput()" role="form">
        <!-- go throw all field and build form -->
        <div ng-model="subCtrl.formFields" ng-repeat="field in subCtrl.formFields">
            {{field.FieldName}}
            <input type="{{field.FieldType}}" ng-model="field.Input" ng-required="true" class="form-input" placeholder="{{field.FieldLabel}}">
            <br>
        </div>
        <div class="g-recaptcha" data-sitekey="6LdTe3AUAAAAAJAq4vGEEjPy0vl88tEawglxjnD7" ng-model="subCtrl.captchaResponse"></div>
        <button type="submit">Submit</button>
    </form>
</div>